@{
  Layout = "_Layout";
}
<div class="row">
  <div class="col-md-8 offset-md-2">

    <h1 class="text-center">Show Orders </h1>
    
    <li>Vendor: @Model["vendor"].Name</li>
    <li>@Model["vendor"].Description</li>
    <li>Order Title: @Model["order"].Title</li>
    <li>Order Description: @Model["order"].Description</li>
    <li>Order Price: @Model["order"].Price</li>
    <li>Order Date: @Model["order"].Date</li>

    <a href="/vendors/@Model.Id/edit"><button class="btn btn-success">Edit</button></a>

    <form action="/vendors/delete/@Model.Id" method="post">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>